footer {
	margin-top: 4%;
	background: white;
	padding: 80px 80px 40px;
}

footer div.text {
	background: #a791c3;
	text-align: left;
	padding: 50px 100px;
	width: 40%;
	margin: 0 auto 50px;
	font-size: 100%;
	line-height: 1.6;
}

footer div.text h1 {
	margin-bottom: 30px;
	text-align: center;
	font-family: Verdana;
	font-size: 160%;
}

footer div.center_button {
	margin-top: 50px;
}

footer div.info {
	text-align: center;
	font-weight: bold;
}

footer div.info a {
	text-decoration: none;
	color: black;
}