#block_2 {
	padding: 8% 8% 8%;
	position: relative;
}

#block_2 div.services ul li {
	display: inline-block;
	width: 33.3%;
	vertical-align: top;
	text-align: left;
	min-height: 540px;
	z-index: 2;
	position: relative;
	/*-webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
     -o-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;*/
}

#block_2 div.services ul {
	z-index: 5;
	position: relative;
}

#block_2 div.services ul li img {
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 70px;
}

#block_2 div.services ul li h2 {
	margin-bottom: 20px;
	font-family: Verdana;
	font-size: 130%;
}

#block_2 div.services ul li div.wrap {
	padding: 80px 80px 80px;
}

#block_2 div.services ul li:nth-child(odd) {
	background: white;
}

#block_2 div.services ul li:nth-child(even) {
	background: #a791c3;
}

#block_3 {
	position: relative;
}

#block_3 div.gallery a {
	width: 50%;
	position: relative;
	display: inline-block;
}

#block_3 img {
	width: 100%;
	vertical-align: top;
}

#block_3 div.caption {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	vertical-align: top;
	text-align: center;
	z-index: 1;
	opacity: 0;
	color: white;
	background: url('/images/tr_bg.png') repeat;
    transition: all 0.4s ease-out;
}

#block_3 div.caption strong {
	text-align: center;
	display: block;
	font-size: 250%;
	margin-bottom: 35px;
}

#block_3 div.caption p {
	font-size: 120%;
	margin-bottom: 35px;
}

#block_3 div.caption div.text {
	position: relative;
	top: -20px;
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

#block_3 div.caption:hover div.text {
	top: 0px;
}

#block_3 div.caption div.href {
	position: relative;
	bottom: -20px;
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

#block_3 div.caption:hover div.href {
	bottom: 0;
}

#block_3 div.caption .child {
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    zoom:1;
    //display:inline;
}
#block_3 div.caption .helper {
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0px;
    zoom:1;
    //display:inline;
}


#block_3 div.gallery a:hover div.caption {
	opacity: 1;
}

#block_3 {
	padding: 0 8%;
}

#block_3 img {
	position: relative;
}

#block_3 div.center_button {
	margin-top: 100px;
}