section > h1 {
	font-family: "Arial Black";
	font-weight: bold;
	font-size: 200%;
	display: inline-block;
	padding: 0 0 14px 0;
	background: url('/images/h1_bg.jpg') center bottom repeat-x;
}

#block_1 {
	padding: 80px 120px;
}

#block_1 > h1 {
	background-position: right bottom;
}

#block_1 ul {
	text-align: center;
}

#block_1 ul li {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	margin: 80px auto;
}

#block_1 ul li:last-child article {
	margin-right: 0;
}

#block_1 ul li article {
	margin: 0 10% 0 0;
}

#block_1 ul li article img {
	display: block;
	text-align: center;
	margin: 50px auto 100px;
}

#block_1 ul li article h1 {
	font-size: 190%;
	font-weight: bold;
	margin: 15px 0 40px;
	text-align: left;
}

#block_1 ul li article div.text {
	font-size: 110%;
	line-height: 1.5;
	text-align: left;
}

#block_2 {
	padding: 80px 120px;
}

#block_2 div.portfolio {
	margin: 80px 0;
}

#block_2 div.portfolio ul {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

#block_2 div.portfolio ul li {
	display: block;
	margin: 8px 5px;
}

#block_2 div.portfolio ul li img {
	width: 100%;
}

#block_2 div.portfolio ul li div.caption {
	display: block;
	background: #813589;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 110%;
	line-height: 1.5;
	display: none;
	margin-top: -2px;
}

#block_3 {
	padding: 100px 150px;
	background-image: url("/images/work_bg.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	color: white;
}

#block_3 > h1 {
	float: left;
	background-position: left bottom;
	vertical-align: top;
}

#block_3 div.text {
	margin-left: 350px;
	font-size: 110%;
	line-height: 1.5;
	vertical-align: top;
}